body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.startButton {
  display: block;
  color: black;
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 2em auto;
  padding: 0.5em 0em 0.5em 0em;
  background-color: white;
  border-radius: 5em;
  border-width: 0.25em;
  border-color: white;
  text-transform: uppercase;
}

.startButton:hover {
  cursor: pointer;
  background-color: #3FA9F5;
  transition:.10s ease-in;
}

.nextButton {
  color: black;
  display: none;
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 7em auto;
  padding: 0.5em 0em 0.5em 0em;
  background-color: white;
  border-radius: 5em;
  border-width: 0.25em;
  border-color: white;
  text-transform: uppercase; 
}

.nextButton:hover {
  cursor: pointer;
  background-color: #3FA9F5;
  transition:.10s ease-in;
}

.scenarioTitle {
display: none;
margin: 10% 0 0 0;
font-size: 1.5em;
font-weight: 700;
border-top: 0.05em solid white;
border-bottom: 0.05em solid white;
padding: 0.75em;
}

.scenarioBody{
  text-transform: none;
  display: none;
  margin: 3% 0 0 0;
  font-size: 1.5em;
  font-weight: 700;
}

.wrapper {
  width: 100%;
  margin: 28vh auto;
  height: 100%;
}

.wsLogoS {
  max-width: 7.5em;
  height: auto;
  margin: 2em 0em 2em 0em;
}

.wsLogoL {
  max-width: 15em;
  height: auto;
  margin: 2% 0 0 0;
}

.wsMotion {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#quiz {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 60px;
  width: 100%;
  color: white;
  text-align: center;
}

#quiz > h1 {
  text-align: center;
  padding: 0em 0em 1em 0em;
  font-size: 20px;
  color: white;
}

.questions {
  font-size: 1.5em;
  font-weight: 700;
  border-top: 0.05em solid white;
  border-bottom: 0.05em solid white;
  padding: 0.75em;
}

.answers div:hover {
  cursor: pointer;
  background-color: #3FA9F5;
  transition:.10s ease-in;
}

.answers {
  color: black;
}

.answers div {
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 1em auto;
  padding: 0.5em 0em 0.5em 0em;
  background-color: white;
  border-radius: 5em;
  border-width: 0.25em;
  border-color: white;
}

.checker {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
}

.correct, .false {
  font-weight: 700;
  background-color: #3FA9F5;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding-left: 0em;
  float: left;
  margin-left: 0.5em;
  margin-top: 0.00em;
  border-radius: 2em;
}

.false {
  background-color: #DC4437;
}

.questions, .answers, .checkAnswers, .checker, .wsLogoS {
  display: none;
}

.icons {
  max-width: 6em;
  position: fixed;
  display: grid:
  grid-template-coloums: 1fr 1fr 1fr;
  /* z-index: 1; */
}

.drink {

}

.wash {

}

.shower {

}

.water {

}

.feed {

}

.flush {

}

.sequence video {
  width: 100%;
  height: 100%;
}

.sequence {
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  bottom: 0;
}