body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  
  .wrapper {
    width: 100%;
    margin: auto;
    height: 100%;
  }
  
  .wsLogo {
    max-width: 7.5em;
    height:auto;
    margin: 2em 0em 2em 0em;
  }

  .wsMotion {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  #quiz {
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 60px;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  #quiz > h1 {
    text-align: center;
    padding: 0em 0em 1em 0em;
    font-size: 20px;
    color: white;
  }
  
  .questions {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    padding: 20px;
  }
  
  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: white;
  }
  
  .answers {
    padding: 0px 0 10px 0px;
  }
  
  .answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid grey;
  }
  
  .answers div:first-child {
    border: none;
  }
  
  .checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
  }
  
  .correct, .false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  .false {
    background-color: #DC4437;
  }