body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
  }
  
/******************************************/
/*             GENERAL RULES              */
/******************************************/

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}


p {
  font-family: verdana;
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'verdana', helvetica, arial, sans-serif;
  font-weight: 700;
}
video {
  /* object-fit: fill; */
}

/******************************************/
/*             Break Point                */
/******************************************/

@media screen and (min-width: 320px) {

  .middlemain {
    /* display: flex; */
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 550px) {

  .middlemain {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* @media screen and (min-width: 720px) {
  
  .lead-img img {
    max-width: 50%;
  }
  .middlemain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  } */
}

/* @media screen and (min-width: 960px) {
  
  .middlemain {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
  }  */
  /* video {
    object-fit: fill;
  }  
}

/******************************************/
/*       QUIZ LAYOUT (index.html)         */
/******************************************/


.wrapper {
  width: 100%;
  margin: auto;
  height: 100%;
}

.wsLogo {
  max-width: 7.5em;
  height:auto;
  margin: 2em 0em 2em 0em;
}

.wsMotion {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#quiz {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 60px;
  width: 100%;
  color: white;
  text-align: center;
}

#quiz > h1 {
  text-align: center;
  padding: 0em 0em 1em 0em;
  font-size: 20px;
  color: white;
}

.questions {
  font-size: 1.5em;
  font-weight: 700;
  border-top: 0.1em solid white;
  border-bottom: 0.1em solid white;
  padding: 1.25em;
}

.answers div:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.answers {
  color: black;
}

.answers div {
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 1em auto;
  padding: 0.5em 0em 0.5em 0em;
  background-color: white;
  border-radius: 5em;
  border-width: 0.25em;
  border-color: white;
}

.checker {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #109D59;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #DC4437;
}
